body {
    background-color: #03256c;}
img {
    width: 100px;
    height: 100px;}
button {
    background-color: #03256c;
    border-width: 5px;
    border: solid black;
    position: relative;
    left:25px;
    right: 25px;
    width: 110px;
    height: 110px;
    transition-duration: 100ms;}
.player-button:hover{
    scale:1.2;
    box-shadow: 0px 0px 10px 5px #feddbe}
.player-button:active{
    scale:1;
    box-shadow: 0px 0px 10px 5px #feddbe}
.ai-button{
    background-color: brown;}
.rock {
    top:100px;}
.paper {
    top: 120px;}
.scissors{
    top: 140px;}
.name{
    position:absolute;
    width: 160px;
    height: 50px;
    text-align: center;
    padding-top: 40px;
    color: #185adb;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;}
#main-box{
    border: solid black;
    border-width: 0px;
    border-radius: 30px;
    position:absolute;
    left: calc(50% - 300px);
    top: calc(50% - 250px);
    background-color: #0a1931;
    width: 600px;
    height: 500px;}
#player-zone{
    position: absolute;
    width: 160px;
    height: 500px;}
#ai-zone{
    position:absolute;
    right:0;
    width: 160px;
    height: 500px;}
#score{
    position: absolute;
    width: 280px;
    height: 100px;
    left: 160px;
    top: 10px;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 50px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 68px;
    color: #feddbe;
    text-align: center;
    padding-top: 25px;}
#outcome-message{
    position: absolute;
    width: 280px;
    height: 100px;
    left: 160px;
    top: 110px;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 38px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 68px;
    color: #feddbe;
    text-align: center;
    padding-top: 25px;}
#winner-icon{
    position: absolute;
    width: 280px;
    height: 280px;
    left: 160px;
    top: 210px;}
#winner-picture{
    border-width: 5px;
    border: solid black;
    width: 280px;
    height: 280px;}
#reset{
    position:absolute;
    width: 100px;
    height: 40px;
    top: -50px;
    left: 15;}
#reset-button{
    width: 100px;
    height: 40px;
    background-color: #0a1931;
    color: #185adb;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    transition-duration: 100ms;}
#reset-button:hover{
    scale:1.2;
    box-shadow: 0px 0px 10px 5px #feddbe;}
#reset-button:active{
    scale:1.1;
    box-shadow: 0px 0px 10px 5px #feddbe;}